body {
  background-color: black;
  color: seashell;
  font-family: Helvetica;
  font-size: 22px;
  margin: 0;
  padding: 0;
  opacity: 0.9;
  text-align: center;
}

#header {
  background: black;
  border-bottom: 1px solid seashell;
  display: flex;
  height: 69px;
  position: fixed;
  top: 0;
  width: 100%;
}

#logo {
  height: 50px;
  padding: 10px;
}

#navbar {
  text-align: right;
  width: 100%;
}

#navbar li {
  display: inline;
  list-style: none;
  padding: 10px;
}

#navbar a {
  color: seashell;
}

#mission,
#featured,
#locations {
  scroll-margin-top: 69px;
}

#mission {
  align-items: center;
  background: url("images/mission-background.jpg") center;
  display: flex;
  height: 700px;
  justify-content: center;
  margin: 69px auto;
  max-width: 1200px;
}

#banner {
  background-color: black;
  width: 1200px;
}

#featured {
  margin: 69px auto;
  max-width: 1000px;
}

#tea-container {
  align-content: center;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1000px;
}

.tea-img {
  height: 200px;
  width: 300px;
}

.tea-name {
  margin-top: 10px;
}

#locations {
  background: url("images/locations-background.jpg") center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 1200px;
  min-height: 500px;
}

#locations h2 {
  margin-bottom: 15px;
}

#location-container {
  align-content: center;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
}

.location-box {
  align-items: center;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 15px 40px;
  width: 300px;
}

#footer {
  height: 200px;
}

#copyright {
  padding: 20px;
  text-align: left;
}
